
# === Virtual Environment ===
venv/

# === Streamlit Secrets ===
.streamlit/secrets.toml

# === Jupyter Notebooks ===
*.ipynb

# === Data / Intermediate folders ===
29mayragdb/
data/
ragDB/
model/

# === Temp / Package files ===
test_1.ipynb
test_2.ipynb
app_v2.py
